* {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 2rem;
    background-color: rgb(43, 32, 49);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#skills {
    position: fixed;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: .1rem;
    left: 2rem;
    max-height: 100vh;
    overflow-y: auto;
}

#portfolio {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 24rem;
    margin-right: 2rem;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: .6rem;
    background-color: rgb(21, 20, 37);
    max-width: 90vw;
    overflow: hidden;
    min-height: 2rem;
}

.card.media {
    flex-direction: column;
    width: 560px;
    max-width: 90vw;
    height: fit-content;
    box-shadow: .5rem .5rem .2rem rgba(1, 1, 14, 0.151);
}

.card.skill:hover {
    background-color: rgb(90, 44, 65);
}

.card-title {
    margin: .5rem
}

.media .card-title {
    font-size: 1.5rem;

}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content:has(.bubble) {
    margin-left: auto;
}

.card-description{
    margin-inline: 1rem;
    vertical-align: middle;
    color: rgba(154, 187, 216, 0.422);
}
#skills .card-description{
    padding: .5rem;
}

iframe {
    width: 560px;
    height: 315px;
}

.selected {
    background-color: rgb(255, 142, 66);
}

.selected .card-description {
    color: rgba(21, 20, 37, 0.544);
}

.bubble {
    border-left: 1px solid rgba(97, 97, 97, 0.078);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    background-color: rgba(130, 126, 124, 0.03);
    background: linear-gradient(90deg,rgba(10, 10, 10, 0.2) 0%, rgba(87, 85, 83, 0) 50%);
    color: rgba(106, 99, 116, 0.37);
}