.red {
    background-color: red;
}

.green {
    background-color: rgb(0, 255, 0);
}

.blue {
    background-color: blue;
}
.cyan{background-color: cyan;}
.yellow{background-color: yellow;}

.flex-x{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-y{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hidden{
    display: none;
}